<ion-header>
  <div>
    <div>
      <h1 id='tit' style="text-align: center">DENUNCIAS HONDURAS</h1>
    </div>
    <div *ngIf="afAuth.authState | async as user; else showLogin">
      <ion-title>
        <ion-item class="item item-trns text-center">
          <ion-avatar item-end *ngIf="afAuth.authState | async" (click)="show()">
            <img src={{currentUser.photoURL}}>
          </ion-avatar>
        </ion-item>
      </ion-title>
    </div>
  </div>


  <ng-template #showLogin>
    <button float-right ion-button color="danger" (click)="login()" icon-right>
      <ion-icon name="logo-googleplus"></ion-icon>
      Login with Google
    </button>
  </ng-template>
  </ion-header>

  <ion-content padding>
    <div class='allHome'>

      <div class='left'>
        <br>
        <br>
        <h2>¿Quiénes somos?</h2>
        <br>
        <p>Denuncias Honduras es una iniciativa civil para documentar y denunciar las violaciones de derechos humanos cometidas por los entes de seguridad del Estado hondureño. La iniciativa surge en el marco de las Elecciones Generales de 2017 y a raíz de la represión policial y el estado de sitio implementados por el gobierno hondureño.</p>
        <p>Nuestro objetivo es servir como una fuente alternativa a los medios de comunicación nacionales para que la población hondureña y la comunidad internacional se informen acerca de la situación de los derechos humanos dentro del territorio hondureño.</p>
        <p>Por el momento nuestro alcance es meramente informativo. Exhortamos a quienes son víctimas de violaciones a sus derechos, a que recurran a las instituciones y organizaciones correspondientes a interponer sus denuncias.</p>
        </div>
      <div class="right">
        <div id='search'>
        <br>
        <br>

          <h2>Buscar</h2>
          <ion-toolbar>
            <ion-row class="search_row">
              <ion-col col-9>
                <ion-item no-lines>
                  <ion-input type="text" placeholder="Buscar..." [(ngModel)]="search"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col col-3>
                <div class="buttons" item-right>
                  <button ion-fab mini [disabled]="search === ''">
                    <ion-icon name="search"></ion-icon>
                  </button>
                </div>
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </div>
        <div id='denunciasRecientes'>
        <br>
        <br>

          <h2>Denuncias Recientes</h2>
          <ion-item *ngFor="let message of messages | async" class="itemchat">
            <div>
              <p></p>
            </div>
          </ion-item>
        </div>
        <div>
            <br>
            <br>
            <h2>Contacto</h2>
            <p>WhatsApp: +1-504-502-7058</p>
            <p>info@denunciashonduras.com</p>


          </div>
      </div>

    </div>

  </ion-content>
