page-informacion {
    .allHome{
        position: relative;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .left{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 80%;
        margin-left: 3%;
    }
    .right{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 96%;
        width: 20%;
        margin-right: 3%;
        margin-top: 4%;
        margin-left: 3%;
    }
    .right div{
        margin-top: 2%;
    }
    #tit{
        color: #009688;
        font-family: "Dosis", "Ubuntu", sans-serif;
    }

    #quienesSomos{
        color: #000000;
        font-size: 30px;
        font-weight: bold;
        font-family: "Roboto", Sans-serif;
    }

    .Texto{
        font-size: 24px;
        font-family: "Roboto", Sans-serif;
        font-weight: 100;
        text-align: justify;
    }
    #inputBuscar{
        border: line
    }
}
