<ion-header>
  <ion-row class="tit_row">
    <ion-col col-9>
      <ion-item no-lines>
        <h1 id='tit' style="text-align: center">DENUNCIAS HONDURAS</h1>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <div *ngIf="afAuth.authState | async as user; else showLogin">
        <ion-title>
          <ion-item class="item item-trns text-center">
            <ion-avatar item-end *ngIf="afAuth.authState | async" (click)="show()">
              <img src={{currentUser.photoURL}}>
            </ion-avatar>
          </ion-item>
        </ion-title>
      </div>
    </ion-col>
  </ion-row>


  <ng-template #showLogin>
    <button float-right ion-button round color="danger" (click)="login()" icon-right>
      <ion-icon name="logo-googleplus"></ion-icon>
      Login
    </button>
  </ng-template>
  </ion-header>

  <ion-content padding>
    <div class='allHome'>

      <div class='left'>
        <br>
        <br>
        <h2 id="quienesSomos">¿Quiénes somos?</h2>
        <br>
        <p class="Texto">Denuncias Honduras es una iniciativa civil para documentar y denunciar las violaciones de derechos humanos cometidas por los entes de seguridad del Estado hondureño. La iniciativa surge en el marco de las Elecciones Generales de 2017 y a raíz de la represión policial y el estado de sitio implementados por el gobierno hondureño.</p>
        <p class="Texto">Nuestro objetivo es servir como una fuente alternativa a los medios de comunicación nacionales para que la población hondureña y la comunidad internacional se informen acerca de la situación de los derechos humanos dentro del territorio hondureño.</p>
        <p class="Texto">Por el momento nuestro alcance es meramente informativo. Exhortamos a quienes son víctimas de violaciones a sus derechos, a que recurran a las instituciones y organizaciones correspondientes a interponer sus denuncias.</p>
        </div>
      <div class="right">
        <div id='search'>
        <br>
        <br>

          <h2>Buscar</h2>
          <ion-toolbar>
            <ion-item>
              <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
            </ion-item>
          </ion-toolbar>
        </div>
        <div id='denunciasRecientes'>
        <br>
        <br>

          <h2>Denuncias Recientes</h2>
          <ion-list>
              <div *ngFor="let denuncia of denuncias2; let i=index">
                <ion-item *ngIf="i<=5">
                  {{denuncia.info.encabezado}}
                </ion-item>
              </div>
            </ion-list>
        </div>
        <div>
            <br>
            <br>
            <h2>Contacto</h2>
            <p>WhatsApp: +1-504-502-7058</p>
            <p>info@denunciashonduras.com</p>


          </div>
      </div>

    </div>

  </ion-content>
