page-home {
    .allHome{
        position: relative;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .left{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 80%;
        margin-left: 3%;
    }
    .right{
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 96%;
        width: 20%;
        margin-right: 3%;
        margin-top: 4%;
        margin-left: 3%;
    }
    .right div{
        margin-top: 2%;
    }
    #tit{
        color: #009688;
        font-family: "Dosis", "Ubuntu", sans-serif;
    }

    .textoPrincipal{
        font-size: 24px;
        font-family: "Roboto", Sans-serif;
        font-weight: 100;
    }
  .search_row{
    margin-left: 44%;
  }

}
