<ion-header>
  <ion-row class="tit_row">
    <ion-col col-9.5>
      <ion-item no-lines>
        <h1 id='tit' style="text-align: center">DENUNCIAS HONDURAS</h1>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <div *ngIf="afAuth.authState | async as user; else showLogin">
        <ion-title>
          <ion-item class="item item-trns text-center">
            <ion-avatar item-end *ngIf="afAuth.authState | async" (click)="show()">
              <img src={{currentUser.photoURL}}>
            </ion-avatar>
          </ion-item>
        </ion-title>
      </div>
    </ion-col>
  </ion-row>


  <ng-template #showLogin>
    <button float-right ion-button round color="danger" (click)="login()" icon-right>
      <ion-icon name="logo-googleplus"></ion-icon>
      Login
    </button>
  </ng-template>
</ion-header>

<ion-content padding>
  <div class='allHome'>

    <div class='left'>

      <div id='intro'>
        <ion-row class="search_row">
          <ion-col col-1>
            <a href="https://www.youtube.com/channel/UC2LpfiOEFMo3WSlEU-ws1Dw?view_as=subscriber" target="_blank">
              <button ion-fab color="danger" mini>
                <ion-icon name="logo-youtube">
                </ion-icon>
              </button>
            </a>
          </ion-col>
          <ion-col col-2>
            <div class="buttons" item-right>
              <a href="mailto:info@denunciashonduras.com">
                <button ion-fab mini>
                  <ion-icon name="mail"></ion-icon>
                </button>
              </a>
            </div>
          </ion-col>
        </ion-row>


        <p class="textoPrincipal">Denuncias Honduras es una iniciativa civil para documentar y denunciar las violaciones de derechos humanos cometidas
          por los entes de seguridad del Estado hondureño después de las Elecciones Generales de 2017.
        </p>
        <p class="textoPrincipal">Nuestro alcance es meramente informativo. Exhortamos a quienes son víctimas de violaciones a sus derechos, a que
          recurran a las instituciones gubernamentales y organizaciones de derechos humanos correspondientes a interponer
          sus denuncias.</p>
        <div class='categorias'>
          <h2 style="text-align: center"> Categorias</h2>
          <button ion-button color="secondary" (click)="changeStatus('Asesinatos')">ASESINATOS EXTRAJUDIACIALES</button>
          <button ion-button color="secondary" (click)="changeStatus('Brutalidad')">BRUTALIDAD POLICIAL</button>
          <br>
          <button ion-button color="secondary" (click)="changeStatus('Desalojos')">DESALOJOS VIOLENTOS</button>
          <button ion-button color="secondary" (click)="changeStatus('Desaparecidas')">PERSONAS DESAPARECIDAS</button>
          <br>
          <button ion-button color="secondary" (click)="changeStatus('Detenidas')">PERSONAS DETENIDAS</button>
          <button ion-button color="secondary" (click)="changeStatus('Saqueos')">SAQUEOS</button>
          <br>
          <button ion-button color="secondary" (click)="changeStatus('Censura')">CENSURA</button>
          <button ion-button color="secondary" (click)="changeStatus('Tortura')">TORTURA</button>
          <br>
        </div>
        <ion-list>
          <div *ngFor="let denuncia of denuncias; let idx = index">
            <ion-item text-wrap *ngIf="denuncia.info.categoria == categoria && idx <=5">
              <ion-card >
                <ion-card-header>
                  <h2>
                    <b>{{ denuncia.info.encabezado }} </b>
                  </h2>
                </ion-card-header>
                <ion-card-content>
                  <p>{{ denuncia.info.descripcion }}</p>
                </ion-card-content>
              </ion-card>
            </ion-item>
          </div>
        </ion-list>
      </div>
    </div>
    <div class="right">
      <div id='search'>
        <br>
        <br>

        <h2>Buscar</h2>
        <ion-toolbar>
          <ion-item>
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
          </ion-item>
        </ion-toolbar>
      </div>
      <div id='denunciasRecientes'>
        <br>
        <br>

        <h2>Denuncias Recientes</h2>
        <ion-list>
          <div *ngFor="let denuncia of denuncias2; let i=index">
            <ion-item *ngIf="i<=5">
              {{denuncia.info.encabezado}}
            </ion-item>
          </div>
        </ion-list>
      </div>
      <div>
        <br>
        <br>
        <h2>Contacto</h2>
        <p>WhatsApp: +1-504-502-7058</p>
        <p>info@denunciashonduras.com</p>


      </div>
    </div>

  </div>

</ion-content>
