<ion-header>
  <ion-row class="tit_row">
    <ion-col col-9.5>
      <ion-item no-lines>
        <h1 id='tit' style="text-align: center">DENUNCIAS HONDURAS</h1>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <div *ngIf="afAuth.authState | async as user; else showLogin">
        <ion-title>
          <ion-item class="item item-trns text-center">
            <ion-avatar item-end *ngIf="afAuth.authState | async" (click)="show()">
              <img src={{currentUser.photoURL}}>
            </ion-avatar>
          </ion-item>
        </ion-title>
      </div>
    </ion-col>
  </ion-row>


  <ng-template #showLogin>
    <button float-right ion-button round color="danger" (click)="login()" icon-right>
      <ion-icon name="logo-googleplus"></ion-icon>
      Login
    </button>
  </ng-template>
</ion-header>

<ion-content padding>
  <div class='allHome'>

    <div class='left'>

      <div id='intro'>
        <ion-row class="search_row">
          <ion-col col-1>
                <button ion-fab color="danger" mini>
                    <ion-icon name="logo-youtube">
                    </ion-icon>
                  </button>
          </ion-col>
          <ion-col col-2>
            <div class="buttons" item-right>
                <button ion-fab mini>
                    <ion-icon name="mail"></ion-icon>
                  </button>
            </div>
          </ion-col>
        </ion-row>


        <p class="textoPrincipal">Denuncias Honduras es una iniciativa civil para documentar y denunciar las violaciones de derechos humanos cometidas
          por los entes de seguridad del Estado hondureño después de las Elecciones Generales de 2017.
        </p>
        <p class="textoPrincipal">Nuestro alcance es
          meramente informativo. Exhortamos a quienes son víctimas de violaciones a sus derechos, a que recurran a las instituciones
          gubernamentales y organizaciones de derechos humanos correspondientes a interponer sus denuncias.</p>
        <div class='categorias'>
          <h2 style="text-align: center"> Categorias</h2>
          <button ion-button color="secondary">ASESINATOS EXTRAJUDIACIALES</button>
          <button ion-button color="secondary">BRUTALIDAD POLICIAL</button>
          <br>
          <button ion-button color="secondary">DESALOJOS VIOLENTOS</button>
          <button ion-button color="secondary">PERSONAS DESAPARECIDAS</button>
          <br>
          <button ion-button color="secondary">PERSONAS DETENIDAS</button>
          <button ion-button color="secondary">SAQUEOS</button>
          <br>
          <button ion-button color="secondary">CENSURA</button>
          <button ion-button color="secondary">TORTURA</button>
          <br>
        </div>
        <ion-item *ngFor="let message of Denuncia | async" class="itemchat">
          <div>
            <ion-card>
              
            </ion-card>
          </div>

        </ion-item>
      </div>
    </div>
    <div class="right">
      <div id='search'>
      <br>
      <br>

        <h2>Buscar</h2>
        <ion-toolbar>
          <ion-item>
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
          </ion-item>
        </ion-toolbar>
      </div>
      <div id='denunciasRecientes'>
      <br>
      <br>

        <h2>Denuncias Recientes</h2>
        <ion-item *ngFor="let message of  Denuncia | async" class="itemchat">
          <div>
            <p></p>
          </div>
        </ion-item>
      </div>
      <div>
          <br>
          <br>
          <h2>Contacto</h2>
          <p>WhatsApp: +1-504-502-7058</p>
          <p>info@denunciashonduras.com</p>


        </div>
    </div>

  </div>

</ion-content>
