<ion-header>
  <ion-row class="tit_row">
    <ion-col col-9>
      <ion-item no-lines>
          <h1 id='tit' style="text-align: center">DENUNCIAS HONDURAS</h1>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <div *ngIf="afAuth.authState | async as user; else showLogin">
        <ion-title>
          <ion-item class="item item-trns text-center">
            <ion-avatar item-end *ngIf="afAuth.authState | async" (click)="show()">
              <img src={{currentUser.photoURL}}>
            </ion-avatar>
          </ion-item>
        </ion-title>
      </div>
    </ion-col>
  </ion-row>



  <ng-template #showLogin>
    <button float-right ion-button round color="danger" (click)="login()" icon-right>
      <ion-icon name="logo-googleplus"></ion-icon>
      Login
    </button>
  </ng-template>
</ion-header>

<ion-content padding>
    <div class="allHome">
      <div class="left">
        <ion-toolbar no-borde end>
          <ion-segment [(ngModel)]="main">
            <ion-segment-button value="Asesinatos Extranjeros">
              Asesinatos Extranjeros
            </ion-segment-button>
            <ion-segment-button value="Brutalidad Policial">
              Brutalidad Policial
            </ion-segment-button>
            <ion-segment-button value="Desalojos Violentos">
              Desalojos Violentos
            </ion-segment-button>
            <ion-segment-button value="Personas Desaperecidas">
              Personas Desaperecidas
            </ion-segment-button>
            <ion-segment-button value="Personas detenidas">
              Personas detenidas
            </ion-segment-button>
            <ion-segment-button value="Saqueos">
              Saqueos
            </ion-segment-button>
            <ion-segment-button value="Censura">
              Censura
            </ion-segment-button>
            <ion-segment-button value="Tortura">
              Tortura
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>
        <div [ngSwitch]="main">
          <ion-item *ngSwitchCase="'Asesinatos Extranjeros'">
            <ion-list>
              <div *ngFor="let denuncia of denuncias;">
                <ion-item text-wrap *ngIf="denuncia.info.categoria == 'Asesinatos' ">
                  <ion-card >
                    <ion-card-header>
                      <h2>
                        <b>{{ denuncia.info.encabezado }} </b>
                      </h2>
                    </ion-card-header>
                    <ion-card-content>
                      <p>{{ denuncia.info.descripcion }}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-item>
              </div>
            </ion-list>
          </ion-item>
          <ion-item *ngSwitchCase="'Brutalidad Policial'">
            <ion-list>
              <div *ngFor="let denuncia of denuncias;">
                <ion-item text-wrap *ngIf="denuncia.info.categoria == 'Brutalidad' ">
                  <ion-card >
                    <ion-card-header>
                      <h2>
                        <b>{{ denuncia.info.encabezado }} </b>
                      </h2>
                    </ion-card-header>
                    <ion-card-content>
                      <p>{{ denuncia.info.descripcion }}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-item>
              </div>
            </ion-list>
          </ion-item>
          <ion-item *ngSwitchCase="'Desalojos Violentos'">
            <ion-list>
              <div *ngFor="let denuncia of denuncias;">
                <ion-item text-wrap *ngIf="denuncia.info.categoria == 'Desalojos' ">
                  <ion-card >
                    <ion-card-header>
                      <h2>
                        <b>{{ denuncia.info.encabezado }} </b>
                      </h2>
                    </ion-card-header>
                    <ion-card-content>
                      <p>{{ denuncia.info.descripcion }}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-item>
              </div>
            </ion-list>
          </ion-item>
          <ion-item *ngSwitchCase="'Personas Desaperecidas'">
            <ion-list>
              <div *ngFor="let denuncia of denuncias;">
                <ion-item text-wrap *ngIf="denuncia.info.categoria == 'Desaparecidas' ">
                  <ion-card >
                    <ion-card-header>
                      <h2>
                        <b>{{ denuncia.info.encabezado }} </b>
                      </h2>
                    </ion-card-header>
                    <ion-card-content>
                      <p>{{ denuncia.info.descripcion }}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-item>
              </div>
            </ion-list>
          </ion-item>
          <ion-item *ngSwitchCase="'Personas detenidas'">
            <ion-list>
              <div *ngFor="let denuncia of denuncias;">
                <ion-item text-wrap *ngIf="denuncia.info.categoria == 'Detenidas' ">
                  <ion-card >
                    <ion-card-header>
                      <h2>
                        <b>{{ denuncia.info.encabezado }} </b>
                      </h2>
                    </ion-card-header>
                    <ion-card-content>
                      <p>{{ denuncia.info.descripcion }}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-item>
              </div>
            </ion-list>
          </ion-item>
          <ion-item *ngSwitchCase="'Saqueos'">
            <ion-list>
              <div *ngFor="let denuncia of denuncias;">
                <ion-item text-wrap *ngIf="denuncia.info.categoria == 'Saqueos' ">
                  <ion-card >
                    <ion-card-header>
                      <h2>
                        <b>{{ denuncia.info.encabezado }} </b>
                      </h2>
                    </ion-card-header>
                    <ion-card-content>
                      <p>{{ denuncia.info.descripcion }}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-item>
              </div>
            </ion-list>
          </ion-item>
          <ion-item *ngSwitchCase="'Censura'">
            <ion-list>
              <div *ngFor="let denuncia of denuncias;">
                <ion-item text-wrap *ngIf="denuncia.info.categoria == 'Censura' ">
                  <ion-card >
                    <ion-card-header>
                      <h2>
                        <b>{{ denuncia.info.encabezado }} </b>
                      </h2>
                    </ion-card-header>
                    <ion-card-content>
                      <p>{{ denuncia.info.descripcion }}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-item>
              </div>
            </ion-list>
          </ion-item>
          <ion-item *ngSwitchCase="'Tortura'">
            <ion-list>
              <div *ngFor="let denuncia of denuncias;">
                <ion-item text-wrap *ngIf="denuncia.info.categoria == 'Tortura' ">
                  <ion-card >
                    <ion-card-header>
                      <h2>
                        <b>{{ denuncia.info.encabezado }} </b>
                      </h2>
                    </ion-card-header>
                    <ion-card-content>
                      <p>{{ denuncia.info.descripcion }}</p>
                    </ion-card-content>
                  </ion-card>
                </ion-item>
              </div>
            </ion-list>
          </ion-item>
        </div>
      </div>


      <div class="right">
        <div id='search'>
          <br>
          <br>

          <h2>Buscar</h2>
          <ion-toolbar>
            <ion-item>
              <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
            </ion-item>
          </ion-toolbar>
        </div>
        <div id='denunciasRecientes'>
          <br>
          <br>

          <h2>Denuncias Recientes</h2>
          <ion-list>
              <div *ngFor="let denuncia of denuncias2; let i=index">
                <ion-item *ngIf="i<=5">
                  <a href="">{{denuncia.info.encabezado}}</a>
                </ion-item>
              </div>
            </ion-list>
        </div>
        <div>
          <br>
          <br>
          <h2>Contacto</h2>
          <p>WhatsApp: +1-504-502-7058</p>
          <p>info@denunciashonduras.com</p>
        </div>
      </div>
    </div>
</ion-content>

